#calendario .ui-icon-custom {
    background-image: url("images/icons-png/calendar-black.png");
    background-position: 3px 3px;
    background-size: 80%;
}

#heart .ui-icon-custom {
	background-image: url("images/icons-png/heart-white.png");
	background-position: 3px 3px;
    background-size: 70%;
}

#agencia .ui-icon-custom {
	background-image: url("images/icons-png/tag-white.png");
	background-position: 3px 3px;
    background-size: 70%;
}

#premio .ui-icon-custom {
	background-image: url("images/icons-png/24-gift.png");
	background-position: 3px 3px;
    background-size: 70%;
}
#anterior .ui-icon-custom {
	background-image: url("images/icons-png/back-black.png");
	background-position: 3px 3px;
    background-size: 70%;
}
/* style para aliniear burbujas*/
.ui-page .ui-content .ui-listview .ui-li-count {
            left  : 10px;
            right : auto;
}
.ui-page .ui-content .ui-listview .ui-li {
          text-align: center;
}
/* ------------------------ */
